<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="beach_conditions.pl" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="FastCGI .pl" />
            <add name="CGI .pl" path="*.pl" verb="*" modules="CgiModule" scriptProcessor="c:\perl\bin\perl.exe &quot;%s&quot; %s" resourceType="File" />
        </handlers>
        <rewrite>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
            </rules>
            <outboundRules>
                <remove name="ReverseProxyOutboundRule1" />
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
